
*.class
*.class
*.class
*.class
.metadata/.log
*.dat
*.resources
*.prefs
*.launch
*.xml
*.csv
*.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
*.txt
*.properties
*.class
*.class
*.class
*.class
